body {
    background-color: black; 
    text-align: justify;
    color: white; 
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1, h3 {
    background-color: #fff;
    text-align: center;
    color: #2c3e50; 
}

p {
    margin-bottom: 15px;
}

img {
    margin: 10px;
    border: 5px solid #f58383;
    border-radius: 15px;
    color:bisque;
}

iframe {
    margin-top: 20px;
    border: 8px solid #f58383;
    border-radius: 10px;
}
